<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N5Q44CHVVQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N5Q44CHVVQ');
</script>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/logo-2.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flipkart - India</title>
    <script type="module" crossorigin src="/assets/index-CpjT7d92.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-DZoWSMmZ.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
